{% extends 'base.html.twig' %}

{% block title %}CodeHub - Domovská stránka{% endblock %}

{% block body %}
    <!-- Hero komponenta - implementujte HTML strukturu a stylování podle Figma designu -->
    {% if hero %}
    <section class="hero" style="background-image: url('{{ asset('images/' ~ hero.backgroundImage) }}');">
            <div class="hero__content container">
                <h1 class="hero__title">{{ hero.title }}</h1>
                <p class="hero__text">{{ hero.text }}</p>
            </div>
    </section>
    {% endif %}

    <!-- CardBlock komponenta - implementujte HTML strukturu a stylování podle Figma designu -->
    {% if card_block %}
    <section class="card-block container" id="clanky">
        <h2 class="card-block__title">{{ card_block.title }}</h2>
        <div class="card-block__cards">
            {% for card in card_block.cards %}
                {% if card.isActive %}
                <a class="card-block__card" href="{{ card.linkUrl }}">
                    <div class="card-block__card-image-wrapper">
                        <img src="{{ asset('images/' ~ card.image) }}" alt="{{ card.title }}" class="card-block__card-image">
                    </div>
                    <h4 class="card-block__card-title">{{ card.title }}</h4>
                    <p class="card-block__card-text">{{ card.text }}</p>
                    <img src="{{ asset('icons/right-arrow.png') }}" alt="Arrow right" class="card-block__card-arrow">
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endif %}

    <!-- Accordion komponenta - implementujte HTML strukturu a stylování podle Figma designu -->
    {% if accordion_block %}
    <section class="accordion-block container" id="faq">
        <div class="accordion-block__title-description">
            <h2 class="accordion-block__title">{{ accordion_block.title }}</h2>
            <p class="accordion-block__description">{{ accordion_block.description }}</p>
        </div>
        <div class="accordion-block__faqs">
            {% for faq in featured_faqs %}
            <div class="accordion-block__faq"   >
                <div class="accordion-block__faq-question">
                <span>{{ faq.question }}</span> 
                <img src="{{ asset('icons/chevron-down.png') }}" alt="Plus" class="accordion-block__faq-chevron-down"></div>
                <div class="accordion-block__faq-answer">{{ faq.answer }}</div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
{% endblock %}
